* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: transparent url('../img//taco-tile.png') top left repeat;
    background-size: 100px;
    background-attachment: fixed;
}

h1, h2, h3, h4 {
    font-family:  'Grandstander', cursive;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    margin:0 auto;
    padding: 0 1.25em;
}

header {
    padding: 1.5em 0;
    text-align: center;
    background-color: #ebd37a;
    margin-bottom: 2em;
    border-bottom: 4px solid #d9b43a;
    position: sticky;
    top: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 48em) {
    .header-content {
        display: block;
    }
    .header-logo {
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
    }
}

.header-title {
    font-size: 2.5em;
}

button {
    display: inline-block;
    background-color: #c95a3a;
    color: white;
    text-align: center;
    border: 5px solid white;
    font-size: 1.5em;
    font-family: 'Grandstander', cursive;
    padding: 1rem;
    border-radius: 1rem;
}

.status-message {
    font-size: 1.25em;
    font-family: 'Grandstander', sans-serif;
}

.taco-section {
    margin: 2em 0;
    border-radius: 1em;
    padding: 2em;
    border: 2px solid brown;
    background-color: white;
}

.taco-section-title {
    font-size: 2em;
    margin-bottom: 1rem;
}

footer {
    background-color: brown;
    padding: 2em 0;
    color: white;
}